<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>
    {% block title %}Babel{% endblock %}
    {% load static %}
    </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'classifier_app/css/style.css' %}" />
  </head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Babel</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'train' %}">Train</a></li>
          <li><a href="{% url 'predict' %}">Predict</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
{% block content %}{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
<script type="text/javascript" scr="{% static 'question/js/cookie.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
