{% extends "classifier_app/base.html" %} {% load static %} {% block title %}{% endblock %}

<head>
    <h2>Classify your text.</h2>
</head>
{% block content %}

<body>
    <br><h1>HELLO ... space aliens!</h1>

    <ul id="deleteClsfrList">
        DELETE CLASSIFIERS
    </ul>
    <ul id="deleteList">
        DELETE CATEGORIES
    </ul>

</body>
{% endblock %}

DELETE PAGE NEEDS TO BE ABLE TO DELETE:

-- JUST A CATEGORY ... WHICH IS EASY.  START HERE MAYBE ?
-- JUST A Classifier.....WHICH MEANS RELATED CATEGORIES

    I WILL DO THE AJAX FOR THE CALLS TO ALL THE ABOVE.  LIST ?
