{% extends "classifier_app/base.html" %} {% load staticfiles %}

<head><title>
  {% block title %}Babble{% endblock %}</title>
</head>
{% block content %}

<body>
    <div class="site-wrapper">
        <div class="container">
            <div>
                <h1 class="title">Words Are Hard</h1>
                <div class="description">
                    Let us help you figure them out.
                </div>
                <div id='needsmorepadding'>
                    <div class="row">
                        <div class="col-xs-5">
                            <a id='this_is_the_predict_button' class="userchoice" href="{% url 'classifier_app:predict' %}"><h3>We classify.</h3></a>
                            <br>
                        </div>
                        <div class="col-xs-2">
                            <h2> or </h2>
                        </div>
                        <div class="col-xs-5">
                            <a id='this_is_the_train_button' class="userchoice" href="{% url 'classifier_app:train' %}"><h3>You train.</h3></a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
{% endblock %}
