{% extends "classifier_app/base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}
<head>
</head>
{% block content %}
</head>
<body>
<div class="site-wrapper">
<div class="container">
<div>
<h1 class="title"><b>Words Are Hard</b></h1>
<div class="description">
Let's help you figure them out.
</div>
<div id='needsmorepadding'>
<div class="row">
<div class="col-xs-4">
<h3>We classify.</h3>
<br />
</div>
<div class="col-xs-4">
<h2><b>- OR -</b></h2>
</div>
<div class="col-xs-4">
<h3>You train.</h3>
<br />
</div>
</div>
</div>
</div>
</div>
</body>
{% endblock %}
