{% extends "classifier_app/base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}
<head>
<h2>Classify your text.</h2>
</head>
{% block content %}
<body>
<div class='container' id='centerme'>
<div class="row">
<div class="col-xl-2" id=row1col1>
</div>
<div class="col-xl-6" id='row1col2'>
<fieldset class='vertical-center'>
<div class="form-group">
<select class="form-control" id="select">
  <option value="" disabled selected>Select a classifer.</option>
{% for classifier in classifiers %}
<option><a id="classchoice" href="{% url 'classifier' classifier.classifier %}"> {{ classifier.classifier }}</a></option><br />
{% endfor %}
</select>
</div>
<div class="form-group">
<select class="form-control" id="select">
  <option value="" disabled selected>Select a category.</option>
{% for category in categories %}
<option><a id='catchoice' href="{% url 'category' category.category %}"> {{ category.category }}</a></option><br />
{% endfor %}
</select>
</div>
<div class="form-group">
<textarea class="form-control" rows="5" id="textArea" placeholder="Enter some text to predict the classification."></textarea>
<span class="help-block"></span>
</div>
<label for="select" class="col-lg-2 control-label"></label>
<div id="needspadding">
<a href="#" class="btn btn-default" type='submit'>Predict</a>
</div>
</fieldset>
</div>
<div class="col-lg-2" id='row1col3'>
</div>
</div>
</div>
</body>
{% endblock %}
