{% extends "classifier_app/base.html" %} {% load static %} {% block title %}{% endblock %}

{% block content %}

<body>
<div class="site-wrapper">
<div class="container">
<div>
<h2 class="title">Your file was successfully imported:</h2>
<div id='smallpadding'>
<p>{{response}}.</p>
</div>
<div id='smallpadding'>
<a style="color:black" href="/predict/" class="btn btn-default" type='submit'>Back to Predict</a>
<a style="color:black" href="/delete/" class="btn btn-default" type='submit'>Off to Delete</a>
</div>
</div>
</div>
</div>
</body>

{% endblock %}
