{% extends "classifier_app/base.html" %} {% load staticfiles %} {% block title %}{% endblock %}

<head>
</head>
{% block content %}
</head>

<body>
    <div class="site-wrapper">
        <div class="container">
            <div>
                <h2 class="title">Register For Babble</h2>
                <div class='smallpadding'>
                        <form method=POST>
                            {% csrf_token %}
                            <p>
                                <label for="username">Username:</label>
                                <input class='form-control' id='username' name='username' required>
                            </p>
                            <p>
                                <label for="first_name">First Name:</label>
                                <input type='text' class='form-control' id='first_name' name='first_name' required>
                            </p>
                            <p>
                                <label for="last_name">Last Name:</label>
                                <input type='text' class='form-control' id='last_name' name='last_name' required>
                            </p>
                            <p>
                                <label for="pwd">Password:</label>
                                <input type='password' class='form-control' id='pwd' name='password' required>
                            </p>
                            <p>
                                <input type="submit" id="newStuff" value="Create Account" a href="{% url 'classifier_app:login' %}" />
                            </p>
                        </form>
                        <div class="login_button">
                            <p>Already have an account?<a href="{% url 'classifier_app:login' %}" class="btn btn-link userchoice" id='createlog'>Log in.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
